<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
	
	    <parameter name="browser" value=""/>
	    <parameter name="environment" value=""/>
	

		<classes>
			<class name="com.gt.tests.ZeroWebSecurityLoginTests" />
			<class name="com.gt.tests.ZippopotamTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
